.buttonCell {
    width: 270px;
    height: 270px;
    background-color:green;
    border-width: 1px;
    border: 1px solid black;
    color:red;
    font-size: 55px;
  
}
.buttonCell:hover {
    
    color:white;
    background-image:url("Aim.png");
    background-size: contain;
    
    
    
}